@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg); } }

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } }

body {
  overflow-x: hidden; }

.planet-container {
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%; }

.planet {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0; }

.sun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  margin: auto; }

.planet-container:nth-child(2) .planet {
  background-color: chocolate; }

.planet-container:nth-child(3) .planet {
  background-color: burlyWood; }

.planet-container:nth-child(4) .planet {
  background-color: cornflowerBlue; }

.planet-container:nth-child(5) .planet {
  background-color: fireBrick; }

.planet-container:nth-child(6) .planet {
  background-color: powderBlue; }

.planet-container:nth-child(7) .planet {
  background-color: khaki; }

.planet-container:nth-child(8) .planet {
  background-color: dodgerBlue; }

.planet-container:nth-child(9) .planet {
  background-color: mediumBlue; }

.planet-container:nth-child(10) .planet {
  background-color: coral; }
