@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');

html {
  font-size: 10px;
}

body {
  margin: 0;
}

p, a, span {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 2;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif;
  color: #444;
  margin: 0;
}

a {
  color: #F08080;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

header {
  padding: 3rem 5%;
  position: relative;
  &:after {
    content: "";
    opacity: .1;
    border-bottom: .2rem solid #444;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

main {
  padding: 3rem 5%;
}

section {
  max-width: 800px;
  width: 100%;
  margin: 3.5rem auto;
}

h2 {
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.summaries {
  li {
    margin: 2rem 0;
  }
}

code {
  display: block;
  white-space: normal;
  background-color: #2C323C;
  color: #ABB2BE;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: .4rem;
}

.diagram {
  .row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0;
    position: relative;
    &:nth-child(2) {
      &:before {
        content: "";
        opacity: .1;
        border-bottom: .2rem dotted #444;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:after {
        content: "";
        opacity: .1;
        border-bottom: .2rem dotted #444;
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .app {
    text-align: center;
    flex: 1 1 auto;
    max-width: calc(100%/6);
    margin: 1rem 0;
    img {
      display: inline-block;
      border-radius: 50%;
      margin-bottom: 1rem;
      width: 5rem;
    }
    span {
      display: block;
      line-height: 1.4;
    }
    span.description {
      font-size: 1.4rem;
      color: #777;
    }
  }
}


footer {
  padding: 3rem 5%;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    opacity: .1;
    border-bottom: .2rem solid #444;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

pre.pgp-key {
  font-size: .8rem;
  line-height: 1;
  white-space: pre-wrap;
}





@media (min-width: 80rem) {
  pre.pgp-key {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .diagram {
    .app {
      img {
        width: 8rem;
      }
    }
  }
}
