doctype html
html
  head
    link(rel='stylesheet', href='../css/ilona.css')
  body
    h1 Tom and Ilona's Infinite Playlist

    a(href="https://s3.amazonaws.com/movies.tjbenneche.com/b.mp4")
      img(src="../img/bs.jpg")
